---
interface Props {
  Data: Object | Function;
}
const { Data } = Astro.props;
const path = Astro.url.pathname;
const test = Object.keys(Data);
const total = test.length;
console.log(test);
---

{
  typeof Data === "function" ? (
    <Data />
  ) : (
    <div class="flex flex-col items-center">
      <a href={path.slice(0, path.lastIndexOf("/"))}>
        {path.slice(0, path.lastIndexOf("/"))}
      </a>
      <div class="flex flex-wrap justify-center items-center gap-4 max-w-md w-[100vmin] aspect-square p-4">
        {Object.keys(Data).map((key, i) => (
          <a
            href={`${path}/${key}`}
            class="p-4 rounded-2xl flex items-center justify-center uppercase font-bold flex-1 flex-shrink-0"
            style={{ backgroundColor: `hsl(${(i / total) * 360} 100% 75%)` }}
          >
            {key}
          </a>
        ))}
      </div>
    </div>
  )
}
